@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'MFEK Sans Rounded';
  src: url('/fonts/MFEKSansRounded-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
}
